<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase count:</strong>
  <%= @order.purchase_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @order.merchant %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
